* {
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/top-view-of-baked-beans-in-tomato-sauce-for-royalty-free-image-1763577988.pjpeg);
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 90% 5%;
}

header {
    width: 100vw;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0rem 0.25rem 0.5rem;
}

header h1 {
    font-size: 4rem;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/top-view-of-baked-beans-in-tomato-sauce-for-royalty-free-image-1763577988.pjpeg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

#beanContainer {
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    25% {
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
    }
}

#beans {
    height: 40vh;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    filter: drop-shadow(0.25rem 0.25rem 0.5rem);
    -webkit-filter: drop-shadow(0.25rem 0.25rem 0.5rem);
}

#beans:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.shake {
    animation: shake 0.1s;
    -webkit-animation: shake 0.1s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.container {
    width: 20rem;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.side {
    width: 0;
    position: fixed;
    vertical-align: middle;
    z-index: 1;
    left: 0;
    background-color: rgb(49, 160, 151);
    box-shadow: 0rem 0.25rem 0.5rem;
    border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.side a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.side a:hover {
    color: aquamarine;
    translate: 0.5rem;
}

#shop {
    height: 60%;
    overflow-x: hidden;
}

#arrow {
    width: 6rem;
}

#arrow a {
    font-size: 4rem;
}

footer {
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    box-shadow: 0rem -0.25rem 0.5rem;
}
